<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCk6zrmNe5v-99ovlvL_GPwCqYWzqYbCDA</string>
	<key>GCM_SENDER_ID</key>
	<string>715914580494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.medsi.medsicheck</string>
	<key>PROJECT_ID</key>
	<string>medsicheck-58e36</string>
	<key>STORAGE_BUCKET</key>
	<string>medsicheck-58e36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715914580494:ios:c529eb1f075ca483f8e25f</string>
</dict>
</plist>